.xml-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    box-sizing: border-box;

    .menu {
        padding: var(--space);
        width: 256px;
        flex-grow: 0;
        flex-shrink: 0;
        display: inline-flex;
        flex-direction: column;

        .button {
            margin-bottom: var(--space);
            width: 100%;
        }

        .files {
            min-height: 0;
            flex-grow: 1;
            flex-shrink: 1;
            overflow: auto;

            .files-item {
                padding: 0 var(--space);
                cursor: pointer;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 12px;
                height: 24px;

                &.selected {
                    color: var(--primary-color);
                }
            }
        }
    }

    .content {
        box-sizing: border-box;
        min-width: 0;
        flex-grow: 1;
        flex-shrink: 1;
        overflow: auto;
        display: flex;
        flex-direction: column;

        .content-tree {
            height: 0;
            flex-grow: 1;
            flex-shrink: 0;
            position: relative;

            .content-line {
                position: relative;
                display: flex;
                align-items: center;
                font-size: 12px;

                & > span + span {
                    margin-left: var(--half-space);
                }

                .tag {
                    color: var(--tag-color);
                }

                .attr-key {
                    color: var(--attr-key-color);
                }

                .attr-value {
                    color: var(--attr-value-color);
                }
            }
        }
    }
}
